*{font-family:"microsoft yahei";}
body{
	border:1px solid #999;
	background:#fff;
	padding:20px;
	clear:both;
}
#viewport{
	border:1px solid #999;
	background:#eee;
	padding:20px;
	position:relative;
	
}
img{
	border:1px solid #999;
	width:80px;
	height:80px;
	
	
}
.team-name{
	border:1px solid #999;
	position:absolute;
	left:20px;
	top:20px;	
	width:200px;
	background:#fff;

	
}
.team-name>img{margin:20px;}
.team-name>span{
	position: absolute;
	top:15px;
	right:15px;
	
	}
.introduction{
	border:1px solid #999;
	margin:0 142px 0 222px;
	padding:20px;
	background:#fff;
	}
.team-logo{
	border:1px solid #999;
	position:absolute;
	right:20px;
	top:20px;
	background:#fff;
	width:120px;
    text-align:center;
	padding-top:10px;
	padding-bottom:10px;
	}
.team-logo>img{
	margin:10px;
}